<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136792272-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136792272-1');
    </script>

    <title>Stagnancy Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <meta property="og:url" content-="http://www.saltekar.xyz/stagnancy-measure/about">
    <meta property="og:description" content="Application provides a quantitative measure for the stagnancy of a stock.">
    <meta property="og:image" content="http://www.saltekar.xyz/static/about_page.png">
    <meta property="og:title" content="Stagnancy Measure">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/stagnancy-measure">
                <img src="{{ url_for('static', filename='favicon.ico') }}" width="28" height="30">
            </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/stagnancy-measure">Search</a></li>
                    <li><a href="/stagnancy-measure">Report</a></li>
                    <li class="active"><a href="/stagnancy-measure/about">About</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form method="POST" action="/stagnancy-measure" class="form-inline">
                            <div class="form-group mx-5">
                                <label for="ticker_symbol" class="mx-2">Enter ticker symbol:</label>
                                <input type="ticker_symbol" class="form-control" name="ticker_symbol" id="ticker_symbol">
                            </div>
                            <div class="form-group mx-5">
                                <label for="past_months" class="mx-2">Enter past months:</label>
                                <input type="past_months" class="form-control" name="past_months" id="past_months">
                            </div>
                            <div class="form-group mx-5" onclick="$('#loading').show();">
                                <input class="btn btn-primary" type="submit" value="Get Report" id="submit">
                            </div>
                    </form>
                </ul>
             </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>

            <div class="col-sm-8 text-left">
                <h2>Background</h2>
                <p>
                    This application helps investors research stocks based on their stagnancy. Stagnancy in stocks is
                    how little activity or movement there is. As parameters, this application takes the ticker symbol
                    of the stock the investor is interested in and the number of past months they want the application
                    to use to assess the stock’s stagnancy. To assess the stock’s stagnancy the application calculates a
                    stagnancy index. This index represents how stagnant a stock is during the past months the investor
                    gave. The lower the stagnancy index, the more stagnant the stock is. The application also shows
                    general statistics and graphs to aid the investor with their research.
                </p>
                <p>Github Repository: <a href="https://github.com/saltekar/stock-stagnancy-measure">https://github.com/saltekar/stock-stagnancy-measure</a></p>

                <h2>Purpose</h2>
                <p>
                    This application is used primarily for the short-term trading of stagnant stocks. The underlying
                    concept behind this researcher is that stocks that are stagnant will eventually become volatile
                    again. This takes advantage of the idea of implied volatility (IV). The longer a stock has little
                    movement, the higher its implied volatility rises. In principle, this means that stagnant stocks
                    will never stay stagnant. This application calculates a stagnancy index as a measure of a stock’s
                    stagnancy. Of course, this concept does not guarantee positive movement in the future. Stagnant
                    stocks may eventually fall. However, this application does provide a useful way for investors to
                    short list stocks for further research.
                </p>

                <h2>Quick Guide</h2>
                <ul class="font-17">
                    <li><b>Ticker Symbol: </b>ticker symbol of the stock the investor wants to research</li>
                    <li><b>Past Months: </b>number of months investor wants the application to go back in data to base its stagnancy index</li>
                    <li><b>Stagnancy: </b>very little or no movement </li>
                    <li><b>Stagnancy Index: </b>a measure to define the stagnancy of a stock calculated by the application based on investor input. Lower the stagnancy index, the more stagnant the stock is.</li>
                </ul>

                <h2>FAQ</h2>
                <ol class="font-17">
                    <li>What is the difference between stagnancy and volatility?</li><br>
                    <p>A stock is stagnant when it has little or no movement. This application would give this stock a
                        low stagnancy index.
                    </p>
                    <p>Volatility is the liability to change rapidly and unpredictably.  In terms of the stock market,
                        it refers to the amount of uncertainty or risk investing in that stock brings. A stock is
                        considered to have a high volatility when the price of that stock spreads out over a range of
                        values. The price dramatically changes in either direction. A stock has a low volatility when
                        there is no fluctuation and is steady. This means that a stock growing or falling at a constant
                        rate would be considered to have a low volatility and at the same time not be stagnant.
                    </p>

                    <li>Does a lower stagnancy always suggest more volatility in that stock in the future?</li><br>
                    <p>
                        Short answer is no. Generally, stocks with a lower stagnancy are more likely to be volatile in
                        the future. But, I have found that at a certain point if the stagnancy index for a stock is too
                        low, it will most likely stay in the stagnant phase for a prolonged period. There is a range of
                        the stagnancy index that investors should look for. This range of stagnancy indexes is roughly
                        around 2-6. After further research, I will add a feature to the result page to help investors
                        more accurately short list stocks for further research.
                    </p>
                </ol>
                <br><p>For additional questions/concerns feel free to contact saltekar@ucsd.edu</p>
            </div>

            <div class="col-sm-2 sidenav">
                <div class="text-align: center" id="loading" style="display:none;">
                    <img src="{{ url_for('static', filename='loading_img.gif') }}" alt="" />
                    <div class="text-align: center">Loading...</div>
                </div>
            </div>

        </div>
    </div>

    <footer class="container-fluid text-center">
        <p><b><a href="https://github.com/saltekar/stock-stagnancy-measure">Link to Github Repository</a></b></p>
    </footer>

</body>
</html>
