<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136792272-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136792272-1');
    </script>

    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <meta property="og:url" content-="http://www.saltekar.xyz/stagnancy-measure/about">
    <meta property="og:description" content="Application provides a quantitative measure for the stagnancy of a stock.">
    <meta property="og:image" content="http://www.saltekar.xyz/static/about_page.png">
    <meta property="og:title" content="Stagnancy Measure">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <title>{{ticker_symbol}} Stock Report</title>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/stagnancy-measure">
                <img src="{{ url_for('static', filename='favicon.ico') }}" width="28" height="30">
            </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/stagnancy-measure">Search</a></li>
                    <li class="active"><a href="#">Report</a></li>
                    <li><a href="/stagnancy-measure/about">About</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form method="POST" action="/stagnancy-measure" class="form-inline">
                            <div class="form-group mx-5">
                                <label for="ticker_symbol" class="mx-2">Enter ticker symbol:</label>
                                <input type="ticker_symbol" class="form-control" name="ticker_symbol" id="ticker_symbol">
                            </div>
                            <div class="form-group mx-5">
                                <label for="past_months" class="mx-2">Enter past months:</label>
                                <input type="past_months" class="form-control" name="past_months" id="past_months">
                            </div>
                            <div class="form-group mx-5" onclick="$('#loading').show();">
                                <input class="btn btn-primary" type="submit" value="Get Report" id="submit">
                            </div>
                    </form>
                </ul>
             </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>

            <div class="col-sm-8 text-left">
                <h4>{{ error }}</h4>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="text-align: center" id="loading" style="display:none;">
                    <img src="{{ url_for('static', filename='loading_img.gif') }}" alt="" />
                    <div class="text-align: center">Loading...</div>
                </div>
            </div>

        </div>
    </div>

    <footer class="container-fluid text-center">
        <p><b><a href="https://github.com/saltekar/stagnancy-stock-researcher">Link to Github Repository</a></b></p>
    </footer>

</body>
</html>
