<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sahil Altekar</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resume_syntax27.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>
	<body>
        <h1>Sahil Altekar</h1>
        <p>saltekar@ucsd.edu | (408) 505-1598</p>
        <hr class = "main_divider">

        <h3>Education</h3>
        <div class = "left-text">Bachelor of Science, Data Science</div>
        <div class="right-text">Graduating in 2021</div>
        <div class="header"><i>University of California, San Diego</i></div>
        <ul class=".left-ul">
            <li>Relevant Coursework: Introduction to Computer Science, Data Structures and Object-Oriented Design, Python Programming, and Discrete Mathematics.</li>
            <li>Planned Coursework: Principles of Data Science, Data Structures and Algorithms for Data Science, and Theoretical Foundations of Data Science.</li>
        </ul>


        <h3>Experience</h3>
        <div class = "left-text">Data Engineering Intern (Python)</div>
        <div class="right-text">June to September 2018</div>
        <div class="header"><i>Aruba, a Hewlett Packard Enterprise company</i></div>
        <ul class=".left-ul">
            <li>Developed Logger configuration templates, previously only available in logstash, to parse log files.</li>
            <li>Built python script to add UI and backend support for new log sources.</li>
            <li>Added capabilities to the Logger configuration language to improve parameter mapping.</li>
            <li>Fixed bugs and added features to the UI.</li>
        </ul>

        <div class = "left-text">Data Science Software Intern (Java, JavaScript)</div>
        <div class="right-text">June to August 2016</div>
        <div class="header"><i>NASA Ames Research Center</i></div>
        <ul class=".left-ul">
            <li>Responsible for collecting and analyzing the EVA (Extra-Vehicular Activity) safety data from a variety of heterogeneous data sources, creating a single coherent system.</li>
            <li>Built a web-based UI for viewing the safety results, using Tomcat as a web server and Servlet engine.</li>
        </ul>

        <h3>Projects</h3>
        <div class = "left-text">Stagnancy Stock Researcher (Python, Flask, Bootstrap)</div>
        <div class="right-text"><a href="https://github.com/saltekar/stagnancy-stock-researcher">Link to Github Repository</a></div>
        <div class="header"><i>Application: <a href="saltekar.xyz/stagnancy-researcher">saltekar.xyz/stagnancy-researcher</a></i></div>
        <ul class=".left-ul">
            <li>Provides a quantitative measure for a stagnancy of a stock for a specified time period, as well as other useful information.</li>
            <li>Web application developed through Python, Flask, and Bootstrap.</li>
            <li>Such analysis helps short list stocks for further research.</li>
            <li>For additional information check application's <a href="saltekar.xyz/stagnancy-researcher/about">about page</a>.</li>
        </ul>

        <h3 class="text-center">Technical Skills</h3>
        <hr class = "divider">
        <div class="col-sm-4 no-wrap text-center" style="padding-bottom:10px">Java</div>
        <div class="col-sm-4 no-wrap text-center" style="padding-bottom:10px">Python</div>
        <div class="col-sm-3 no-wrap text-center" style="padding-bottom:10px">Flask</div>
        <div class="col-sm-4 no-wrap text-center" style="padding-bottom:10px">JavaScript</div>
        <div class="col-sm-4 no-wrap text-center" style="padding-bottom:10px">Git</div>
        <div class="col-sm-3 no-wrap text-center" style="padding-bottom:10px">HTML</div>
        <div class="col-sm-4 no-wrap text-center" style="padding-bottom:10px">CSS</div>
        <div class="col-sm-4 no-wrap text-center" style="padding-bottom:10px">Bootstrap 4</div>
        <div class="col-sm-3 no-wrap text-center" style="padding-bottom:10px">Logstash</div>
	</body>
</html>